main {
  height: 100%;
}

/* Fade out hidden elements */
.hidden {
  opacity: 0;
  transition: opacity 1s linear;
}

/* Fade in visible elements */
.visible {
  opacity: 1;
  transition: opacity 1s linear;
}
