main {
  height: 100%;
}

/* Fade out hidden elements */
.hidden {
  opacity: 0;
  transition: opacity 1s linear;
}

/* Fade in visible elements */
.visible {
  opacity: 1;
  transition: opacity 1s linear;
}

/* Image background settings */
.image-background {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  pointer-events: none;
  z-index: -99;
}

/* Video background settings */
.video-background {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -99;
}
.video-foreground, .video-background iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
@media (min-aspect-ratio: 16/9) {
  .video-foreground {
    height: 300%;
    top: -100%;
  }
}
@media (max-aspect-ratio: 16/9) {
  .video-foreground {
    width: 300%;
    left: -100%;
  }
}
