.nav-bar {
  /* position: fixed; */
  top: 0;
  width: 100%;
  /* border-bottom: 1px solid white; */
}

.video-container {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  min-height: 460px;
  /* background-image: url(); */
}

.video-container video {
  display: inline-block;
  position: absolute;
  top: 0;
  bottom: 0;
  min-height: 100%;
  min-width: 100%;
  overflow: hidden;
  z-index: -1;
}

.landing-page {
  background: black;
}

footer {
  background: black;
}