.date-input {
  position: fixed;
  left: 0;
  background: rgba(0,0,0,0.3);
  padding: 1rem;
  font-family: Avenir, Helvetica, sans-serif;
}
.date-input #logo {
  font-size: 0.75em;
}
.date-input form {
  line-height: 0.6;
}
#userDate {
  margin-bottom: 0.25rem;
  max-width: 145px;
  color: white;
  background: rgba(0,0,0,0.3);
  border: 1px solid white;
  border-radius: 3px;
}
#userDate:focus {
  outline: 0;
}
.date-input label {
  display: block;
}
.date-input hr {
  border: 1px solid white;
}
.submit-button {
  display: inline-block;
  margin-right: 0.25rem;
  padding: 0.25rem;
  color: white;
  background: rgba(0,0,0,0.3);
  border: 1px solid white;
  border-radius: 3px;
  font-size: 0.9rem;
  line-height: 1rem;
}
.submit-button:focus {
  outline: 0;
}
.submit-button:hover {
  cursor: pointer;
}
.submit-button:disabled {
  color: gray;
  border: 1px solid gray;
}
.date-error-message {
  color: red;
}
@media all and (max-width: 600px) {
  .date-input {
    width: 50%;
    padding: .5em;
  }
  .date-input #logo {
    font-size: 0.5em;
  }
}

/* Mobile view rules */
@media screen and (max-width: 420px), screen and (max-width: 840px) and (max-height: 420px) and (orientation: landscape) {
  .view-button {
    display: none;
  }
  .date-input {
    top: 0;
    width: 100%;
    padding: 0.5em;
    background: black;
    border-bottom: 1px solid white;
  }
  .date-input h1, .date-input label, .date-input hr, .date-input br {
    display: none;
  }
  .date-input .submit-button {
    display: inline-block;
    margin: 0.25em;
    font-size: 0.8em;
  }
  .date-input form {
    float: right;
    font-size: 0.9em;
  }
}
